<!--Barber Selections-->
<div class="container">
  <h2 style="color:white">Choose a Barber!</h2>
  <br>
  <h5 style="color:white">Filter Barbers by Services</h5>
  <!--Filter Buttons. Leaving them like this by default. Later, we can add or modify-->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('Haircut')"> Haircut (regular)</button>
    <button class="btn" onclick="filterSelection('Taper_Haircut_and_Lineup')"> Taper Haircut & Lineup</button>
    <button class="btn" onclick="filterSelection('Head_Lineup_Only')"> Head Lineup Only</button>
    <button class="btn" onclick="filterSelection('Head_Shave')"> Head Shave</button>
    <button class="btn" onclick="filterSelection('Beard_Linup')"> Beard Lineup</button>
  </div>
  <!--End of Filter Buttons-->

  <!--Barber Data-->
  <div class="container">
    {{#each barbers}}
    <div class="card filterDiv {{service}}" style="width: 18rem;">
      {{!-- Link to the adorable avatars api. Auto filling the url with handlebars so it will produce a new unique face with each new barber name. --}}
      <img class="card-img-top" src="https://api.adorable.io/avatars/500/{{first_name}}{{last_name}}@adorable.io.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{first_name}} {{last_name}}</h5>
        <p class="card-text">{{location}}</p>
      </div>

      {{!-- Barber profiles are a service to add later. --}}
      <div class="card-body">
        <a href="#" class="card-link">Link to barber profile</a>
      </div>
      <div class="card-body">
        <button href="#" class="selectBarber" data-name="{{first_name}} {{last_name}}" data-barber="{{id}}"
          data-location="{{location}}S" class="btn card-link">Select
          this Barber!</button>
      </div>
    </div>
    {{/each}}
  </div>
  <!--End of Barber Data-->

  <!--End of Selections-->

  <!--Start of Side Nav-->
  <div id="mySidenav" class="sidenav">
    <a href="/" id="home">Back to Home</a>
    <a href="/order" id="servicesPage">Go To Services</a>
    <a href="#" id="social">Social Media</a>
  </div>
  <!--End of Side Nav-->

<!--Overlay-->
  <div id="overlay" onclick="off()">
    <div id="overlayBarberName"></div>
    <br>
    <a id="confirmBarber" href="/appointment">
    <div id="overlayText" >Close and Confirm Appointment</div>
    </a>
    <!-- Button to close the overlay navigation -->
    <a class="closebtn" onclick="closeNav()">&times;</a>
  </div>
    <!--End of Overlay-->

  <!--Confirm barber and set appointment button-->
  <div class="container">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="confirmBarber">Confirm Barber and Set
        Appointment</button>
  </div>
  <!--End of Confirm Barber Button-->




  <!--Filtering script from W3 Schools-->
  <script src="/assets/js/barber.js">
  </script>