<!--Table for Services and Prices-->
<div class="container" id="services">
    <h1 style="color: white;">Click button to add a service to your appointment, you can add up to 3.</h1>
    <input class="form-control" id="input" type="text" placeholder="Search for a service...">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Service</th>
            <th>Description</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Add Service</th>
        </thead>
        <tbody id="table">
            {{#each services}}
            <tr>
                <td id="name"> {{name}}</td>
                <td id="description"> {{description}}</td>
                <td id="price"> {{price}}</td>
                <td id="duration"> {{duration}}</td>
                {{!-- for the add services button, I think the bootstrap classes are messing up the function. Not sure
                how to get around that for now. --}}
                <td id="addButton"><button data-id="{{id}}" data-name="{{name}}" data-cost="{{price}}" data-duration="{{duration}}"
                        class="addServ" type="button" class="btn btn-primary">Add</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!--End of Table-->

<!--Snackbar pop up confirming selection of service-->
<div id="snackbar"></div>
<!--End of snackbar pop up-->

<!--Start of Side Nav-->
<div id="mySidenav" class="sidenav">
    <a href="/" id="home">Back to Home</a>
    <a href="/barber" id="barberPage">Go To Barbers</a>
    <a href="#" id="social">Social Media</a>
</div>
<!--End of Side Nav-->

<div class="container">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="goToBarber">Confirm Service and Select a Barber</button>
</div>

<!--Search script-->
<script>
    $(document).ready(function () {
        $("#input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        function searchBar() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            td = ul.getElementsByTagName('td');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < td.length; i++) {
                a = td[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    td[i].style.display = "";
                } else {
                    td[i].style.display = "none";
                }
            }
        }
    })
</script>
<!--End of search Script-->

<script src="/assets/js/order.js">
</script>


{{!-- <-- * There should be a blank for comments at the bottom,--> --}}