<!--Table for Services and Prices-->
<div class="container" id="services">
    <h1 style="color: white;">Click button to add a service to your appointment, you can add up to 3.</h1>
    <input class="form-control" id="input" type="text" placeholder="Search for a service...">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Service</th>
            <th>Description</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Add Service</th>
        </thead>
        <tbody id="table">
            {{#each services}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td>{{duration}}</td>
                {{!-- for the add services button, I think the bootstrap classes are messing up the function. Not sure how to get around that for now. --}}
                <td><button data-id="{{id}}" class="addServ" type="button" class="btn btn-primary" >Add</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
    <!--End of Table-->
<!--Start of Side Nav-->
<div id="mySidenav" class="sidenav">
    <a href="/" id="home">Back to Home</a>
    <a href="/barber" id="barberPage">Go To Barbers</a>
    <a href="#" id="social">Social Media</a>
</div>
    <!--End of Side Nav-->

<div class="container">
<a href="/barber">
<button type="button" class="btn btn-primary btn-lg btn-block" id="goToBarber" href="/barber">Search Barbers</button>
</a>
</div>

<!--Search script-->
<script>
        $(document).ready(function(){
          $("#input").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
</script>

<script>
    var servArray = []

    //function that affects the add buttons to add them to the array.
    $(".addServ").on("click", function(event) {
        event.preventDefault()
    if (servArray.length < 3) {
        var servID = $(this).data("id")
        servArray.push(servID)

        console.log(servArray)
    }else{
        alert("You may only add up to 3 services!")
    }
    })

    //function which acts when you click the submit button at the bottom of the page.
</script>
{{!-- 

                                Make the Order page work. 

Click on up to 3 services. The services you click will be added to a new appointment row. 


                This all gets wrapped in an onclick function for the button at the bottom of the page {

* The Id for the appointment row will be stored in local storage.

        make an object to send to the route to make a new appointment. {

* customer id is set as one for the appointment
* Comments from the comment blank will be put into the “comments” section
* Cost gets calculated on this page—just add up the total cost of the services selected.
* Duration, like price, just adds up all the durations and puts it as an integer into the appointments     table. 
        } //end of the object that gets sent to the route
        
}






                                NOTES ON HOW TO DO STUFF:

There should be a blank for comments at the bottom,

Accepted is going to start out blank. I’ll figure out how to do this later. 

Barber_id is gonna get set on the next page when the user selects a barber.

Time gets set later on the appointments screen

Location gets set later on the appointments screen.

Paid is gonna be blank for now until we figure out some kind of payment flow

Completed is going to be blank, that is something which can be put in the Barber’s homepage later on.

DURATION AND PRICE ARE IN WHOLE NUMBERS. UNITS ARE MINUTES AND DOLLARS
 --}}
